@model IEnumerable<Finance.Models.Merret>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Merr pagesën</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shuma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kodi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shuma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kodi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
