@model Finance.Models.Dergon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dergon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datelindja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datelindja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shuma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shuma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kodi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kodi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
